.main-construction {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-color: #ffffffff;
  border: 5px solid rgba(var(--card-border-rgb), 0);
  font-family: 'Ubuntu', sans-serif;
  }

.content {
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
}
